<html>

<head>
    {% if baslik %}
    <title>{{baslik}}</title>
    {% else %}
    <title>CİSCO</title>
    {% endif %}

</head>

<body>
<div>
    <a href="{{url_for('index')}}">Anasayfa</a>
    <a href="{{url_for('login')}}">Giriş</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %} 
{% block icerik %}{% endblock icerik %}
</body>
</html>